h1{
    color: red;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    line-height: 1.5;
}